[Unit]
Description=linuxmuster.net LINBO VDI
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/usr/lib/linuxmuster-linbo-vdi/
ExecStart=/usr/bin/python3 /usr/lib/linuxmuster-linbo-vdi/vdi-service.py
SyslogIdentifier=linbovdi
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
